
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/josefin-sans.woff2') format('woff2');
}

body{
  background-color: #000000; 
  background-image: url('/media/backround.png');

}

::selection {
  background: #ff6319;
  color: #2e2e2e
}

a{
  text-decoration: none;
}

img{
  border: 0em solid rbga(0,0,0,0);
  padding:1em 0em 0em 0em;
}

div.main{
  background: rgba(46, 46, 46, .5);
  border-radius: 2em 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  width: 40em;
  margin: auto;
}

@media screen and (max-width: 41em) {
  div.main {
    width: 100%;
  }
}

div.button{
  background: #ff6319;
  border-radius: .5em .5em;
  padding: .5em;
  text-align: center;
  width: 20em;
  margin: auto;
  margin-top: .5em;
  margin-bottom: .5em;
  color: #2e2e2e;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Josefin Sans", "Trebuchet", sans-serif;
  transition: all 0.4s
}

div.button:hover{
  color: #F3F3F3;
  transform: scale(1.1);
}

@media screen and (max-width: 34em) {
  div.button {
    width: 90%;
  }
}

.name{
  color: #ff6319;
  font-weight: 500;
  font-family: "Josefin Sans", "Trebuchet", sans-serif;
  font-size: 3em;
  margin: 0;
  margin-top: .5em;
}

.subname {
  color: #ff6319;
  font-weight: 500;
  font-family: "Josefin Sans", "Trebuchet", sans-serif;
  font-size: 1em;
  width: 20em;
  margin: auto;
  margin-bottom: 2em;
}

