
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/josefin-sans.woff2') format('woff2');
}

body{
  background-color: #000000; 
  background-image: url('/media/backround.png');

}

div{
  background: #2e2e2e;
  border-radius: 2em 2em;
  padding: 0em;
  text-align: center;
  border-bottom: .5em outset #2e2e2e;
  border-top: .5em inset #2e2e2e;
  width: 40em;
  margin: auto;
}

@media screen and (max-width: 40em) {
  div {
    width: 100%;
  }
}

.title{
  color: #ff6319;
  font-weight: 500;
  font-family: "Josefin Sans", "Trebuchet", sans-serif;
  font-size: 3em;
}

.body {
  color: #ff6319;
  font-weight: 500;
  font-family: "Josefin Sans", "Trebuchet", sans-serif;
  font-size: 2em;
}