
@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/josefin-sans.woff2') format('woff2');
}

body{
  background-color: #000000; 
  background-image: url('/media/backround.png');

}

::selection {
  background: #ff6319;
  color: #2e2e2e
}

.main{
  box-sizing: border-box;
  background: rgba(46, 46, 46, .5);
  border-radius: 2em;
  text-align: center;
  width: 40em;
  padding: 1em;
  margin: auto;
}

@media screen and (max-width: 41em) {
  .main {
    width: 100%;
  }
}

img.pfp {
  width:12em;
  padding: .5em;
}

a{
  text-decoration: none;
}

.button{
  background: #ff6319;
  border-radius: .5em;
  padding: .5em;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: .5em;
  margin-bottom: .5em;
  color: #2e2e2e;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Josefin Sans", "Trebuchet", sans-serif;
  transition: all 0.4s
}

.button:hover{
  color: #F3F3F3;
  transform: scale(1.1);
}

.name{
  color: #ff6319;
  font-weight: 500;
  font-family: "Josefin Sans", "Trebuchet", sans-serif;
  margin: auto;
}

.subname {
  color: #ff6319;
  font-weight: 500;
  font-family: "Josefin Sans", "Trebuchet", sans-serif;
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
}